/*
------------------------------------------
Reset
------------------------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*
------------------------------------------
Header
------------------------------------------
*/

.nav {
    display: flex;
    width: 100%;
    background-color: #ff6900;
    height: 70px;
    position: fixed;
    padding: 20px 270px;
    left: 0px;
    top: 0px;
    right: 0px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
    width: 20%;
    color: white;
}

header .icone {
    display: flex;
    justify-content: end;
}

.logocontainer {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 30px;
}

/*
------------------------------------------
Main
------------------------------------------
*/


.container {
    height: 1460px;
    background-color: blue;
    margin-top: 1100px;
}



















