/*
------------------------------------------
Reset
------------------------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*
------------------------------------------
Header
------------------------------------------
*/

.nav {
    display: flex;
    max-width: 100%;
    background-color: #ff6900;
    height: 70px;
    position: fixed;
    padding: 20px 270px;
    left: 0px;
    top: 0px;
    right: 0px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 10px;
    font-weight: bold;
    font-size: 13px;
    align-items: center;
    width: 20%;
    color: white;
}

header .icone {
    display: flex;
    justify-content: end;
}

.logocontainer {
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 30px;
}

/*
------------------------------------------
Main
------------------------------------------
*/

main {
    padding: 130px 270px 60px 270px;
    display: flex;
    flex-wrap: wrap;
}

/* .container {
    border: 2px dashed black;
    height: 1460px;
    background-color: pink;
    max-width: 100%;
    margin-right: 270px;
    margin-left: 270px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
} */

.imag {
    background-color: blueviolet;
    border: 2px dashed black;
    width: 450px;
    height: 700px;
}











.social {
    padding: 0px 270px;
    background-color: black;
    height: 112px;
    display: flex;
    width: 100%;
    color: white;
}




















