/*
------------------------------------------
Reset
------------------------------------------
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    width: 100%;
    background-color: #ff6900;
    height: 70px;
    position: fixed;
}

div {
    height: 2000px;
    background-color: blue;
    color: white;
    font-size: 200px;
}



